/*

  Mixins

  - common

*/

/* common */
@mixin transition($duration: 0.37s) {
  transition:         all $duration cubic-bezier(0.645, 0.045, 0.355, 1);;
  -webkit-transition: all $duration cubic-bezier(0.645, 0.045, 0.355, 1);;
  -moz-transition:    all $duration cubic-bezier(0.645, 0.045, 0.355, 1);;
  -ms-transition:     all $duration cubic-bezier(0.645, 0.045, 0.355, 1);;
  -o-transition:      all $duration cubic-bezier(0.645, 0.045, 0.355, 1);;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin sector {
  padding: 1.2rem $side-space;
  font-weight: 600;
  line-height: 1.45em;
}
