@import './main';

/*

  Colors

  - selectors
    - text
    - background

*/

/* selectors */
.black { color: $black; }
.vblack { color: $vblack; }
.white { color: $white; }
.lightgrey { color: $lightgrey; }
.grey { color: $grey; }
.stalegrey { color: $stalegrey; }
.deepgrey { color: $deepgrey; }

.blue { color: $blue; }
.pblue { color: $pblue; }

/* background */
.bg-black { background-color: $black; }
.bg-vblack { background-color: $vblack; }
.bg-white { background-color: $white; }
.bg-lightgrey { background-color: $lightgrey; }
.bg-grey { background-color: $grey; }
.bg-stalegrey { background-color: $stalegrey; }
.bg-deepgrey { background-color: $deepgrey; }

.bg-blue { background-color: $blue; }
.bg-pblue { background-color: $pblue; }
