@import '../main';

.title-header {
  padding: 4.2rem 1.2rem;
  margin-bottom: 1.2rem;

  // border-radius: 48px;
  align-items: center;
  text-align: center;

  letter-spacing: 0.08em;
  text-transform: uppercase;
  
  font-weight: bold;
  font-size: 3.6rem;

  user-select: none;

  color: $black;
  // background-color: $aqua;

  // text-shadow: 2px 2px $black;
}

.typing-text {
  display: inline-block;
}

.typing-cursor {
  display: inline-block;
  opacity: 1;
  animation: blink 1s cubic-bezier(1, 0, 0, 1) infinite;
}

.typing-cursor-off {
  display: inline-block;
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
